@page "/logout"

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h5">¿Estás seguro que deseas cerrar sesión?</MudText>
    </TitleContent>
    <DialogContent>       
        <MudText Typo="Typo.body2">Si cierras sesión, tendrás que volver a iniciar sesión para acceder a tu cuenta.</MudText>
    </DialogContent>
    <DialogActions>
        <div class="d-flex justify-content-center">
            <MudButton Class="m-1" Variant="Variant.Outlined" Color="Color.Info" OnClick="CancelAction">Cancelar</MudButton>
            <MudButton Class="m-1" Variant="Variant.Outlined" Color="Color.Error" OnClick="LogoutAction">Cerrar sesión</MudButton>
        </div>       
    </DialogActions>
 </MudDialog>