@page "/commonzones/create/{ResidentialUnitId:int}"

<h3><i class="bi bi-building" /> Crear Zona Común</h3>

<CommonZoneForm @ref="commonZoneForm" CommonZone="commonZone" OnValidSubmit="CreateAsync" ReturnAction="Return" />