@page "/commonzones/{ResidentialunitId:int}"

@if (residentialUnit is null)
{
    <Loading />
}
else
{
    <div class="card">
        <div class="card-header">
            <span>
                <i class="bi bi-globe-americas" /> @residentialUnit.Name
                <a class="btn btn-sm btn-primary float-end mx-1" href="/commonzones/create/@residentialUnit.Id"><i class="bi bi-plus-square" />  Crear Zona Común</a>
                <a class="btn btn-sm btn-success float-end" href="/cities/details/@residentialUnit.CityId"><i class="bi bi-arrow-left" />  Regresar</a>

            </span>
        </div>
        <div class="card-body">
            <GenericList MyList="commonZones!">
                <Body>

                    @if (currentRecordsNumber != "todos")
                    {
                        <FilterComponent ApplyFilter="SetFilterValue" />
                    }
                    <Pagination CurrentPage="currentPage" TotalPages="totalPages" SelectedPage="SelectedPageAsync" SelectedRecordsNumber="SetRecordsNumber" />
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Zona Común</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var commonzone in commonZones!)
                            {
                                <tr>
                                    <td>@commonzone.Name</td>
                                    <td>
                                        <a href="/apartments/edit/@commonzone.Id" class="btn btn-sm btn-warning"><i class="bi bi-pencil" /> Editar</a>
                                        <button @onclick=@(() => DeleteAsync(commonzone)) class="btn btn-sm btn-danger"><i class="bi bi-trash" /> Borrar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Body>
            </GenericList>
        </div>
    </div>
}
