@page "/residentialUnitss/create"


<h3>Crear Unidad Residencial <i class="bi bi-building-fill-add" /></h3>

<ResidentialForm @ref="residentialForm" ResidentialUnit="residentialUnit" OnValidSubmit="CreateResidentialUnitAsync" ReturnAction="Return" IsEdit=false />


