@page "/residentialUnitss/edit/{id:int}"

<h3>Editar Unidad Residencial <i class="bi bi-building-fill-gear" /></h3>

@if (loading)
{
    <Loading />
}
else
{
    <ResidentialForm @ref="residentialForm" ResidentialUnit="residentialUnit" OnValidSubmit="EditResidentialUnitAsync" ReturnAction="Return" IsEdit=true />
}